.events-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(310px, max-content));
    grid-gap: 40px;
    justify-content: center;
    padding: 20px;
    background: rgb(241,241,241);
}